.menu {
  background-color: #fff;
  background: no-repeat center url(../images/background_menu.svg);
  background-size: cover;
}

.menu__title {
  display: flex;
  justify-content: center;
  max-width: 780px;
  margin: auto;
  padding-top: 100px;
  font-family: "Inter" Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 850px;
  padding-top: 24px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 100px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding-bottom: 100px;
}
