.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: grid;
  justify-content: center;
  flex-direction: row;
  padding-top: 100px;
  z-index: 1;
}

.reservation__title {
  display: flex;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  padding-bottom: 80px;
}

.reservation__form {
  width: 385px;
}

/* The margin property was applied to the form to prevent an empty ruleset */
.form {
  margin: 0;
  padding-bottom: 120px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.form__fieldset-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  padding-top: 32px;
}

.form__fieldset-button {
  margin: 0;
  padding-top: 0;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 32px 0 8px;
}

.form__label:first-of-type {
  padding-top: 0;
}

.form__label-checkbox {
  padding: 0;
}

.form__input {
  border: 1px solid #838383;
  border-radius: 4px;
  padding-left: 20px;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input-date {
  padding-left: 20px;
  color: #000;
}

.form__input-checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}

.form__input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button[type="submit"] {
  height: 60px;
  border: none;
  border-radius: 4px;
  background: #2f80ed;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-top: 32px;
}

.form__button[type="submit"]:hover {
  opacity: 70%;
  transition: ease-in-out;
  transition-duration: 0.5s;
}
